<h1>Add a Job</h1>
<form action="/job_added" method="post">
  <label for="new-company">Company Name</label>
  <input id="new-company" name="new-company" type="text">

  <label for="new-position">Job Position</label>
  <input id="new-position" name="new-position" type="text">

  <label for="new-time">How long were you employed there? (Round to the nearest YEAR)</label>
  <input id="new-time" name="new-time" type="text">

  <button type="submit">Enter</button>
</form>
