<h1>You've just added a new Job!</h1>
<p>@Model.GetCompany()</p>
<p>@Model.GetPosition()</p>
<p>@Model.GetTime()</p>
<p><a href="/">Add another Job></a></p>
<p><a href="/view_all_jobs">View Past Jobs</a></p>
